@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide horizontal scrollbar */
body {
  overflow-x: hidden;
}

/* Optional: Hide horizontal scrollbar for specific elements */
.some-element {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Dark grey handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker grey on hover */
}

h1 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}

/* Example Usage */
h2 {
  font-family: 'Oxanium', sans-serif;
  font-weight: 700; /* Adjust weight for headings */
  color: #262E3C;
  font-size: 24px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700; /* Adjust weight for headings */
}

h4 {
  font-family: 'Unica One', sans-serif;
  font-weight: 700; /* Adjust weight for headings */
}

p, li {
  font-family: 'Lato', sans-serif;
  font-weight: 400; /* Normal weight for paragraphs and lists */
  font-size: 16px;
  line-height: 1.6;
}